<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
        <h1>Tech Blog</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {{#if isAuthenticated}}
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{else}}
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{#if posts.length}}
            {{#each posts}}
                <article>
                    <h2>{{title}}</h2>
                    <p>{{content}}</p>
                    <p>Created by {{user.username}} on {{createdAt}}</p>
                    <a href="/post/{{id}}">Read More</a>
                </article>
            {{/each}}
        {{else}}
            <p>No blog posts found.</p>
        {{/if}}
    </main>

    <footer>
        <p>&copy; 2023 Tech Blog. All rights reserved. Created by Kayla Nichols</p>
    </footer>
</body>
</html>
